body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.full {
    background: url('/ProjetoIntegrado/img/homebg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#jumbo {
	background: rgba(238,238,238,0.9);
}

.background-tint {
  background-color: rgba(100,50,50,.8);  /*Tint color*/
  background-blend-mode: multiply;
}