body {
  padding-top: 50px;
  min-width: 720px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.full {
    background: url('/CineData/img/homebg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#jumbo {
	background: rgba(238,238,238,0.8); /*238*/	
}

#jumbo #title {
	color: gold;
	text-shadow: 2px 2px 2px black;
}/*

*/#jumbo p {
	text-shadow: 2px 2px 2px black;
	color: #eee;
}

.background-tint {
  background-color: rgba(100,50,50,.8);  /*Tint color*/
  background-blend-mode: multiply;
}

/*Table*/

.panel-table .panel-body{
  padding:0;
}
.table-responsive {height:250px;}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}

/*/table*/

/*CirlceImages*/

/*.img-circle {
    border-radius: 50%;
}*/

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.circle-caption {
	
}

/*/CircleImage*/
